{% extends 'base.html' %}

{% block content%}

 <img src="static/img/octo.jpg" style="height:180vh;margin-left:-20vw;margin-top:-35vh;">

 <!-- Card -->
 <div class="card testimonial-card" style="width:40%;margin-left:30vw;margin-top:-123vh;margin-bottom:10vh;">

     <!-- Bacground color -->
     <div class="card-up danger-color lighten-1">
     </div>

     <!-- Avatar -->
     <div class="avatar mx-auto white"><img src="static/img/picture.jpg" class="rounded-circle" style="height:28vh;margin-top:3vh;">
     </div>

     <div class="card-body">
         <!-- Name -->
         <h1 class="card-title" style="text-align:center;font-size:4em;font-family: 'Fredericka the Great', cursive;">LULU MUTULI</h1>
         <hr>
         <!-- Quotation -->
         <p style="text-align:center;font-size:1.9em;font-family: 'Nixie One', cursive;">Full Stack Developer</p>
         <p style="font-family: 'Nixie One', cursive;text-align:center;font-size:1.5em;">lulumutuli24@gmail.com</p>
         <a href="https://github.com/lulumuts"><img src="static/img/github.png" style="height:5vh;margin-top:0.5em;margin-left:14vw;"></a>


     </div>

 </div>

 <!-- Card Light -->
 <div class="card"style="width:84%;height:70vh;margin-left:10vw;opacity:0.6;">

   <!-- Card image -->
   <div class="view overlay">


   </div>

   <!-- Card content -->
   <div class="card-body" style="background-color:#faedfc;height:150%;">


     <!-- Title -->
     <h4 class="card-title" style="font-family: 'Fredericka the Great', cursive;font-size:390%;color:black;margin-left:3vw;">ABOUT ME</h4>
     <hr>
     <!-- Text -->
     <h4 class="card-text" style="font-size:170%;font-family: 'Montserrat Alternates', sans-serif;margin-left:3vw;margin-right:3vw;margin-bottom:4vh;">I have a Bachelors of Fine Arts in Fashion Design from The Savannah College of Art and Design. I am Moringa Core Student currently studying full stack web development, with a specific focus on front-end design, and an interest in UX design. </h4>

     <h2 style="font-family: 'Montserrat Alternates', sans-serif;margin-left:3vw;">Skills</h2>
     <ul style="font-size:150%;font-family: 'Montserrat Alternates', sans-serif;">
       <li>Angular 5/6 (Typescript)</li>
       <li>Flask (Python)</li>
       <li>Django (Python)</li>
       <li>SQL Alchemy</li>
       <li>Adobe Photoshop</li>
       <li>Adobe Indesign</li>
       <li>Adobe Illustrator</li>
     </ul>



   </div>

 </div>
 <!-- Card Light -->

<div class="container" style="margin-top:13vh;margin-left:7vw;">
  <span style="background-color:black;">
  <h2 style="text-align:left;margin-bottom:10vh;font-size:3em;color:black;font-family: 'Fredericka the Great', cursive;">PROJECTS</h3>
  </span>
<div class="row">


<div class="card" style="width: 26rem;margin-left:3%;">
  <img class="card-img-top" src="static/img/Screen Shot 2018-06-01 at 5.49.53 PM.png" style="height:13em;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="font-size:190%;font-family: 'Montserrat Alternates', sans-serif;">Gallery</h5>
    <p class="card-text" style="font-size:120%;font-family: 'Montserrat Alternates', sans-serif;">Gallery is an app that is made to mimic unsplash photo gallery, and mirror the basic functionality of pinterest, where you can browse for an image based on its tag, and find out more detail about said image.You can also search by the tags, of locations and categories to stream line the user experience.</p>
    <a href="https://gallerylulu.herokuapp.com/" class="btn btn-secondary" >Go to the site</a>

    <a href="https://github.com/lulumuts/Gallery"><img src="static/img/github.png" style="height:5vh;margin-top:-1.7em;margin-left:16vw;"></a>
  </div>
</div>

<div class="card" style="width: 26rem;margin-left:1.5%;">
  <img class="card-img-top" src="static/img/Screen Shot 2018-06-01 at 6.05.42 PM.png" style="height:13em;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="font-size:190%;font-family: 'Montserrat Alternates', sans-serif;">Instagram Clone</h5>
    <p class="card-text" style="font-size:120%;font-family: 'Montserrat Alternates', sans-serif;">This was a clone of instagram made to mimic the basic functionality of the instagram application. I used Django, and postgres as my technologies.</p>
    <a href="https://instaclonelu.herokuapp.com/" class="btn btn-secondary" style="margin-bottom:-28em;">Go to the site</a>

    <a href="https://github.com/lulumuts/instagram-clone"><img src="static/img/github.png" style="height:5vh;margin-bottom:-21em;margin-left:16vw;"></a>
  </div>
</div>





<div class="card" style="width: 26rem;margin-left:1.5%;height:40em;">
  <img class="card-img-top" src="static/img/Screen Shot 2018-05-24 at 2.54.46 PM.png" style="height:13em;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="font-size:190%;font-family: 'Montserrat Alternates', sans-serif;">Downtime</h5>
    <p class="card-text" style="font-size:120%;font-family: 'Montserrat Alternates', sans-serif;">Downtime is an application I did as a group project, that was done using flask, and twilio. It is an app that allows you to time the text messages you want to send to your loved ones, so as never to forget to reach out for a birthday, or appointment.</p>
    <a href="https://keepyourfriends.herokuapp.com/" class="btn btn-secondary" style="margin-bottom:-15em;">Go to the site</a>

    <a href="https://github.com/lulumuts/downtime"><img src="static/img/github.png" style="height:5vh;margin-bottom:-11em;margin-left:16vw;"></a>
  </div>
</div>

<div class="card" style="width: 26rem;margin-left:3%;margin-top:2em;height:40em;">
  <img class="card-img-top" src="static/img/Screen Shot 2018-06-09 at 2.36.01 PM.png" style="height:13em;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="font-size:190%;font-family: 'Montserrat Alternates', sans-serif;">Kinyozi</h5>
    <p class="card-text" style="font-size:120%;font-family: 'Montserrat Alternates', sans-serif;">This is an app that is for natural hair stylista's that want to find hairstylists that do their specific kind of hair, and be able to book an appointment with her. I used angular 6, and used django for my the creation of my API.</p>
    <a href="https://lulumuts.github.io/KINYOZI-NAI/dashboard" class="btn btn-secondary" style="margin-bottom:-19em;">Go to the site</a>

    <a href="https://github.com/lulumuts/KINYOZI-NAI"><img src="static/img/github.png" style="height:5vh;margin-bottom:-14em;margin-left:16vw;"></a>
  </div>
</div>
<div class="card" style="width: 26rem;margin-left:1.7%;margin-top:2em;height:40em;">
  <img class="card-img-top" src="static/img/Screen Shot 2018-06-14 at 9.25.55 AM.png" style="height:13em;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="font-size:190%;font-family: 'Montserrat Alternates', sans-serif;">Kinyozi API</h5>
    <p class="card-text" style="font-size:120%;font-family: 'Montserrat Alternates', sans-serif;">This is the link to the backend API, that was created using django, and was designed to be called on the Angular front-end. I chose
    to include it as it gives the full picture of kinyozi as a project and the skills I picked up.</p>
    <a href="https://lulumuts.github.io/KINYOZI-NAI/dashboard" class="btn btn-secondary" style="margin-bottom:-19em;">Go to the site</a>

    <a href="https://github.com/lulumuts/kinyozi"><img src="static/img/github.png" style="height:5vh;margin-bottom:-14em;margin-left:16vw;"></a>

  </div>
</div>

<div class="card" style="width: 26rem;margin-left:1.5%;margin-top:2em;">
  <img class="card-img-top" src="static/img/Screen Shot 2018-06-14 at 8.33.29 AM.png" style="height:13em;" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="font-size:190%;font-family: 'Montserrat Alternates', sans-serif;">Git Search</h5>
    <p class="card-text" style="font-size:120%;font-family: 'Montserrat Alternates', sans-serif;">This is an app that is purely to search for github users, using the github API, and find the repositories in their profile with their bio.</p>
    <a href="https://lulumuts.github.io/git-search" class="btn btn-secondary" style="margin-bottom:-28em;">Go to the site</a>

    <a href="https://github.com/lulumuts/git-search"><img src="static/img/github.png" style="height:5vh;margin-bottom:-21em;margin-left:16vw;"></a>
  </div>
</div>


</div>

</div>

<img src="static/img/octo.jpg" style="height:180vh;padding-left:26vw;;margin-top:-160vh;margin-right:-6em;">



<img src="static/img/octo.jpg" style="height:200vh;margin-left:-20vw;;margin-top:-100vh;margin-right:-6em;">

<h2 style="text-align:center;font-size:3em;color:black;font-family: 'Fredericka the Great', cursive;margin-top:-17em;">UI DESIGN FOR KINYOZI MOBILE</h3>

<img src="static/img/Screen Shot 2018-06-12 at 9.53.22 PM.png" style="height:35em;margin-left:19em;">





<!-- Card Light -->
<div class="card"style="width:100%;height:20vh;opacity:0.8;margin-top:13vh;margin-bottom:-10vh;">

  <!-- Card image -->
  <div class="view overlay">


  </div>

  <!-- Card content -->
  <div class="card-body" style="background-color:#fdedff;height:170%;">



  <h4 style="font-family: 'Montserrat Alternates', sans-serif;text-align:center;font-size:2em;">Find my work at:</h4>

  <a href="http://lulumutuli.com/"><p style="font-family: 'Montserrat Alternates', sans-serif;text-align:center;font-size:1.3em;">fashion: www.lulumutuli.com</p></a>


    <a href="https://github.com/lulumuts"><p style="font-family: 'Montserrat Alternates', sans-serif;text-align:center;font-size:1.3em;">github: https://github.com/lulumuts</p></a>
  </div>

</div>
{%endblock%}
